<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<welcome-file-list>
       <welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
    	<servlet-name>springmvc</servlet-name>
    	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    	<init-param>
      		<param-name>contextConfigLocation</param-name>
      		<param-value>classpath:applicationContext-*.xml</param-value>
    	</init-param>
    	<load-on-startup>1</load-on-startup>
  	</servlet>
	<servlet-mapping>
    	<servlet-name>springmvc</servlet-name>
    	<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
	<filter>
    <filter-name>logonFilter</filter-name>
    <filter-class>
            com.yeyi.ytest.DataBase.filter.LogonFilter
        </filter-class>
    <init-param>
      <param-name>filterurl</param-name>
      <param-value>
                /rest/home/myhome,/rest/shopcart/out
            </param-value>
    </init-param>
    <init-param>
      <param-name>webViewUrl</param-name>
      <param-value>
                /rest/sku/getProductSku,
                /rest/leaguer/szg,
                /rest/product/recomendBrand,
                /rest/shopcart/list,
                /rest/order/getNoPay,
                /rest/order/getNoSend,
                /rest/order/getNoOver,
                /rest/order/getRefunding,
                /rest/leaguer/leaguerdata,
                /rest/order/getAll,
                /rest/payCard/list,
                /rest/home/message,
                /rest/knowledgecard/codecard,
                /rest/address/list,
                /rest/home/recommend,
                /rest/counter/myCounterV6,
                /rest/home/complaint,
                /rest/order/logistics,
                /rest/leaguer/detail,
                /rest/leaguer/toLogin,
                /rest/order/detail,
                /rest/ent/toQualifications,
                /rest/ent/getGreadeInfo,
                /rest/ent/toPromise,
                /rest/ent/getBrand,
                /rest/shopcart/toEmpty,
                /rest/ent/getEntStoryProcess,
                /rest/team/getTeamLeaguerData,
                /rest/team/getMembersView,
                /rest/team/toUpdateTeam,
                /rest/address/add,
                /rest/address/setupdate,
                /rest/counter/toWithdraw,
                /rest/home/messagedetail.html,
                /rest/payCard/secret.html,
                /rest/leaguer/toApplyV6,
                /rest/order/detail,
                /rest/team/getMembersCheck,
                /rest/counter/getProceedsV6,
                /rest/payCard/toActive,
                /rest/team/toCompetition,
                /rest/shop/toShopIndex
            </param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>logonFilter</filter-name>
    <url-pattern>/rest/*</url-pattern>
  </filter-mapping>
	
	<!-- 设置Spring容器加载配置文件路径  <aop:config>标签要用
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:*.xml</param-value>
	</context-param>
	 -->
	
        <!-- 加载Spring容器配置(上面的contextConfigLocation里指定的xml文件) <aop:config>标签要用 -->
<!-- 	<listener> -->
<!-- 		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> -->
<!-- 	</listener> -->

    <!-- 启用 RequestListener 监听器 -->
	<listener>
		<listener-class>com.yeyi.ytest.DataBase.listener.RequestListener</listener-class>
	</listener>
 
</web-app>